
@if (TempData["Token"] != null)
{
    <input type="hidden" id="txtToken" value="@TempData["Token"]" />
    <input type="hidden" id="txtNome" value="@TempData["Nome"]" />
    <input type="hidden" id="txtId" value="@TempData["Id"]" />
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/lib/materialize/css/materialize.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/lib/materialize/js/materialize.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/materialize/js/materialize.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/operacoesusuario.js"></script>
    <script src="~/js/InicializarSideNav.js"></script>

</head>

<ul id="dropdown1" class="dropdown-content">
    <li><a asp-action="VerificarAgendamento" asp-controller="Agendamento" asp-route-Id="@TempData["Id"]">Confirmar horário</a></li>
    <li><a asp-action="Agendamento" asp-controller="Agendamento" asp-route-Id="@TempData["Id"]">Agendar horário</a></li>
    <li><a asp-action="FazerLancamento" asp-controller="Agendamento" asp-route-Id="@TempData["Id"]">Corte avulso</a></li>
</ul>

<ul id="dropdown_mobile" class="dropdown-content">
    <li><a asp-action="VerificarAgendamento" asp-controller="Agendamento" asp-route-Id="@TempData["Id"]">Confirmar horário</a></li>
    <li><a asp-action="Agendamento" asp-controller="Agendamento" asp-route-Id="@TempData["Id"]">Agendar horário</a></li>
    <li><a asp-action="FazerLancamento" asp-controller="Agendamento" asp-route-Id="@TempData["Id"]">Corte avulso</a></li>
</ul>

<nav class="" id="navMenu">
    <div class="nav-wrapper">
        <a asp-action="Index" asp-controller="Usuarios" asp-route-Id="@TempData["Id"]" class="brand-logo">Corte's</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            @*<li><a href="#">Eae, Usuário</a></li>*@
            <li><a onclick="Deslogar()">Sair</a></li>
            <li><a asp-action="Index" asp-controller="Usuarios" asp-route-Id="@TempData["Id"]">Início</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Agendamento<i class="material-icons right">arrow_drop_down</i></a></li>

        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a onclick="Deslogar()">Sair</a></li>
    <li><a asp-action="Index" asp-controller="Usuarios" asp-route-Id="@TempData["Id"]">Início</a></li>
    <li><a class="dropdown-trigger" href="#!" data-target="dropdown_mobile">Agendamento<i class="material-icons right">arrow_drop_down</i></a></li>
</ul>

